body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entre-aqui {
    color: white;
    display: flex;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

/* BOTÃO HAMBÚRGUER */
.btn-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-menu .material-symbols-outlined {
    font-size: 40px;
    color: white;
}

/* MENU RETRÁTIL */
.menu-flutuante {
    position: fixed;
    top: -100vh;
    width: 100%;
    height: 40vh;
    background-color: var(--light-blue);
    padding-top: 80px;
    transition: top 0.3s ease;
    z-index: 15;
}

.menu-flutuante.abrir {
    top: 0;
}

.menu-flutuante .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-flutuante a {
    text-decoration: none;
}

.menu-flutuante h1,
span {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    color: var(--white);
    transition: 0.3s;
}

.menu-flutuante h1:hover,
span:hover {
    background-color: #3B82F6;
}

.input-box label {
    top: -20px !important;
}
