body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.entre-aqui {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

#icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../../../assets/images/olho.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#icon.hide {
    background-image: url("../assets/images/olho-fechado.png");
    background-size: contain;
}

.input-box {
    position: relative;
    width: 20rem;
}

.form-control {
    color: white;
}

.btn-primary {
    background-color: var(--dark-blue);
    width: 20rem;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}

.form-check label, p{
    color: white;
}


.formNovaSenha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .input-box {
        width: 600px;
    }

    .btn-primary {
        width: 600px;
    }
}
