body {
    min-height: 100vh;
}

.principal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.containerDateInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 2rem;
    width: 90%;
    max-width: 600px;
    gap: 1rem;
}

.input-box {
    position: relative;
    width: 100%;
}

.btn-primary {
    background-color: var(--dark-blue);
    height: 60px;
    border-radius: 18px;
    font-size: 20px;
    width: 100%;
}

.div-header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.div-header .material-symbols-outlined {
    font-size: 60px;
}

.btn-menu {
    position: absolute;
    top: 14px;
    left: 12rem;
    z-index: 20;
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu-flutuante {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: var(--light-blue);
    padding-top: 100px;
    transition: left 0.3s ease;
}

.menu-flutuante.abrir {
    left: 0;
}

.menu-flutuante h1:hover,
span:hover {
    cursor: pointer;
    background-color: #3B82F6;
}

.menu-flutuante .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-flutuante a {
    text-decoration: none;
}

.menu-flutuante h1,
span {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    color: var(--white);
    transition: 0.3s;
}