body {
    min-height: 100vh;
}

.principal-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entre-aqui {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 60px;
}

.formEntrada {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-box {
    position: relative;
    width: 100%;
}

.input-icon {
    position: relative;
}

#icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-image: url("/frontEnd/assets/images/olho.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#icon.hide{
    background-image: url("/frontEnd/assets/images/olho-fechado.png");
}

.container-opcoes {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.container-opcoes p,
.container-opcoes label {
    color: white;
}

.btn-primary {
    background-color: var(--dark-blue);
    height: 60px;
    border-radius: 18px;
    font-size: 20px;
}

#remember {
    border: 1px solid rgb(255, 255, 255);
}