body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entre-aqui {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

.mb-3 input {
    background-color: var(--light-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
}

.input-icon {
    position: relative;
    width: 600px;
}

#icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../assets/images/olho.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#icon.hide{
    background-image: url("../assets/images/olho-fechado.png");
    background-size: contain;
}
.mb-3 input::placeholder {
    color: white;
    padding-left: 15px;
}

.form-control {
    color: white;
}

.btn-primary {
    background-color: var(--dark-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}

.form-check label, p{
    color: white;
}

#remember {
    background-color: rgb(255, 255, 255) !important;
    border: none;
}

.esqueceu-a-senha {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
}
