body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.entre-aqui {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

#icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../assets/images/olho.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#icon.hide {
    background-image: url("../assets/images/olho-fechado.png");
    background-size: contain;
}

.input-box {
    position: relative;
    width: 20rem;
    margin-top: 1rem;
}

.form-control {
    color: white;
}

.btn-primary {
    background-color: var(--dark-blue);
    width: 20rem;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}

.form-check label,
p {
    color: white;
}

#remember {
    background-color: rgb(255, 255, 255) !important;
    border: none;
}

.container-opcoes {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    font-size: 14px;
}

.formEntrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .btn-primary {
        background-color: var(--dark-blue);
        width: 600px;
        height: 60px;
        border: none;
        border-radius: 18px;
        color: white;
        font-size: 20px;
    }

    .container-opcoes {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        gap: 18rem;
        font-size: 16px;
    }

    .input-box {
        position: relative;
        width: 600px;
        margin-top: 1rem;
    }

}