body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-lg {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 450px;
    border-radius: 20px;
    padding: 20px;
    transition: 0.6s;
    cursor: pointer;
    color: #ffffff;
}
.container-lg h3 {
    margin-top: 160px;
}

#Armarios:hover {
    background-color: var(--dark-blue);
    transform: translateY(-10px);
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
    color: var(--white);
}

.material-symbols-outlined {
    font-size: 80px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

#Estacionamento {
    opacity: 50%;
}

.dark-mode .container-lg:hover{
    background-color: #3B82F6 !important;
}
