body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entre-aqui {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

.mb-3 input,
.mb-3 select {
    background-color: var(--light-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
}

.input-icon {
    position: relative;
    width: 600px;
}

.icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../../../assets/images/olho.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.icon.hide {
    background-image: url("../../../assets/images/olho-fechado.png");
    background-size: contain;
}

.mb-3 input::placeholder,
.mb-3 select::placeholder {
    color: white;
    padding-left: 15px;
}

.btn-primary {
    background-color: var(--dark-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}

.menu-flutuante {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 300px;
    color: var(--white);
    padding: 10px 0;
    border-radius: 10px;
    background-color: var(--light-blue);
}

.menu-flutuante .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-flutuante a {
    text-decoration: none;
}

.menu-flutuante h1,
span {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    color: var(--white);
    transition: 0.3s;
}

.menu-flutuante h1:hover,
span:hover {
    background-color: #3B82F6;
}