body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.entre-aqui {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

.btn-menu {
    position: absolute;
    top: 14px;
    left: 12rem;
    z-index: 20;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-menu .material-symbols-outlined {
    font-size: 40px;
    color: white;
}

.menu-flutuante {
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    height: auto;
    background-color: var(--light-blue);
    padding-top: 70px;
    transition: top 0.3s ease;
    z-index: 15;
    box-shadow: 0 4px 8px rgba(151, 175, 255, 0.2);
}

.menu-flutuante.abrir {
    top: 0;
}

.menu-flutuante .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-flutuante a {
    text-decoration: none;
}

.menu-flutuante h1,
span {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    color: var(--white);
    transition: 0.3s;
}

.input-icon {
    position: relative;
    width: 600px;
}

.icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../../../assets/images/olho.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.icon:hover {
    background-color: #1E3A8A;
}

.icon.hide {
    background-image: url("../../../assets/images/olho-fechado.png");
    background-size: contain;
}

.btn-primary {
    background-color: var(--dark-blue);
    width: 23rem;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}

#formsModificarSenha {
    padding: 0 20px;
    border-radius: 12px;
    width: 100%;
}

.input-box {
    width: 23rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .menu-flutuante {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background-color: var(--light-blue);
        padding-top: 100px;
        transition: left 0.3s ease;
        /* z-index: -10; */
    }

    .menu-flutuante.abrir {
        left: 0;
    }

    .menu-flutuante h1:hover,
    span:hover {
        cursor: pointer;
        background-color: #3B82F6;
    }

    .btn-primary {
        background-color: var(--dark-blue);
        width: 45rem;
        height: 60px;
        border: none;
        border-radius: 18px;
        color: white;
        font-size: 20px;
    }

    #formsModificarSenha {
        padding: 0 20px;
        border-radius: 12px;
        width: 100%;
    }

    .input-box {
        width: 45rem;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}