body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entre-aqui{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

.mb-3 input, .mb-3 select{
    background-color: var(--light-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
}

.mb-3 input::placeholder, .mb-3 select::placeholder{
    color: white;
    padding-left: 15px;
}
.btn-primary {
    background-color: var(--dark-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}
.form-check-label {
    color: white;
}
.form-check-input{
    background-color: var(--light-blue);
    border: none;
}
.link-offset-2{
    color: white;
}
.esqueceu-a-senha {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
}
