body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.entre-aqui {
    padding-top: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

.btn-primary {
    background-color: var(--dark-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}