body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-principal {
    position: absolute;
    top: 200px;
}

.div-header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.div-header .material-symbols-outlined {
    font-size: 60px;
}


.btn-menu {
    position: absolute;
    top: 14px;
    left: 12rem;
    z-index: 20;
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu-flutuante {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: var(--light-blue);
    padding-top: 100px;
    transition: left 0.3s ease;
}

.menu-flutuante.abrir {
    left: 0;
}

.menu-flutuante h1:hover,
span:hover {
    cursor: pointer;
    background-color: #3B82F6;
}

.menu-flutuante .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-flutuante a {
    text-decoration: none;
}

.menu-flutuante h1,
span {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    color: var(--white);
    transition: 0.3s;
}