@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --blue: #3B82F6;
    --dark-blue: #0A1E52;
    --light-blue: #1E3A8A;
    --white: #FFFFFF;
}

body {
    background-color: var(--blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
     /*fundo tela*/
    background-image: url("..//Imagens/fundo-tela.svg");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
}

.logo-aapm {
    position: absolute;
    top: 10px;
    left: 10px;
}

.perfil {
    position: absolute;
    top: 10px;
    right: 80px;
}
.perfil span{
    font-size: 50px;
}
.container-lg {
    background-color: var(--light-blue);
    color: var(--white);
    width: 700px;
    max-width: 800px;
    min-height: 200px;
    border-radius: 20px;
    padding: 40px;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-lg h3 {
    font-size: 22px;
    text-align: start;
    padding-left: 3rem;
}

.saudacoes h2 {
    text-align: center;
    font-size: 40px;
    color: var(--white);
}

.container-lg:hover {
    background-color: var(--dark-blue);
    transform: translateY(-10px);
}

.material-symbols-outlined {
    font-size: 80px;
    margin-bottom: 10px;
    color: white;
}
.dark-mode,
.dark-mode body {
    background-color: var(--light-blue) !important;
    background-image: url("..//Imagens/fundo-tela-dark.svg");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white)!important;
}

.dark-mode .container-lg {
    background-color: var(--dark-blue) !important;
}