body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-lg {
    background-color: var(--light-blue);
    color: var(--white);
    width: 700px;
    max-width: 800px;
    min-height: 200px;
    border-radius: 20px;
    padding: 40px;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-lg h3 {
    font-size: 22px;
    text-align: start;
    padding-left: 3rem;
}

.saudacoes h2 {
    text-align: center;
    font-size: 40px;
    color: var(--white);
}

.container-lg:hover {
    background-color: var(--dark-blue);
    transform: translateY(-10px);
}

.material-symbols-outlined {
    font-size: 80px;
    margin-bottom: 10px;
    color: white;
}