body {
    min-height: 100vh;
}

.principal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-top: 200px;
}

.saudacoes h2 {
    text-align: center;
    font-size: 35px;
    color: var(--white);
}

.container-lg {
    background-color: var(--light-blue);
    color: var(--white);
    width: 20rem;
    border-radius: 24px;
    padding: 40px;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.card-icon .material-symbols-outlined {
    font-size: 65px;
    color: var(--white);
    position: relative;
    top: -10px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-label {
    font-size: 20px;
    color: var(--white);
}

.btn-menu {
    position: absolute;
    top: 0.5rem;
    right: 5rem;
    z-index: 20;
    background: transparent;
    border: none;
    cursor: pointer;
}

.material-symbols-outlined{
    font-size: 3rem;
}

.menu-flutuante {
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    height: auto;
    background-color: var(--light-blue);
    padding-top: 70px;
    transition: top 0.3s ease;
    z-index: 15;
    box-shadow: 0 4px 8px rgba(151, 175, 255, 0.2);
}

.menu-flutuante.abrir {
    top: 0;
}

.menu-flutuante .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-flutuante a {
    text-decoration: none;
}

.menu-flutuante h1,
span {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    color: var(--white);
    transition: 0.3s;
}

p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.623);
    font-weight: 600;
    margin: 0;
}

@media (min-width: 720px) {
     .menu-flutuante {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background-color: var(--light-blue);
        padding-top: 100px;
        transition: left 0.3s ease;
        /* z-index: -10; */
    }

    .menu-flutuante.abrir {
        left: 0;
    }

    .menu-flutuante h1:hover{
        cursor: pointer;
        background-color: #3B82F6;
    }

    .container-lg {
        width: 35rem;
        display: flex;
        flex-direction: row;
    }

    .card-icon .material-symbols-outlined {
        font-size: 80px;
    }

    .informacoes {
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        padding-left: 2rem;
    }

    .info-item {
        align-items: flex-start;
    }

    .container-lg:hover {
        background-color: var(--dark-blue);
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    }
}