@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --blue: #3B82F6;
    --dark-blue:#0A1E52;
    --light-blue:#1E3A8A;
    --white:#FFFFFF;
}
body {
    background-color: var(--blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-aapm {
    position: absolute;
    top: 10px;
    left: 10px;
}

.entre-aqui{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

.mb-3 input, .mb-3 select{
    background-color: var(--light-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;

}

.mb-3 input::placeholder, .mb-3 select::placeholder{
    color: white;
    padding-left: 15px;
}
.btn-primary {
    background-color: var(--dark-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}
.form-check-label {
    color: white;
}
.form-check-input{
    background-color: var(--light-blue);
    border: none;
}
.link-offset-2{
    color: white;
}
.esqueceu-a-senha {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
}

.menu-flutuante {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 300px; 
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 10px 0;
    border-radius: 10px;
}

.menu-flutuante .menu {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.menu-flutuante a {
    text-decoration: none;
}

.menu-flutuante h1 {
    font-size: 18px;
    text-align: left;
    padding: 10px;
    color: var(--white);
    transition: 0.3s;
}

.menu-flutuante h1:hover {
    background-color: var(--light-blue);
}

