@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --blue: #3B82F6;
    --dark-blue:#0A1E52;
    --light-blue:#1E3A8A;
    --white:#FFFFFF;
}
body {
    background-color: var(--blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /*fundo tela*/
    background-image: url("..//fundo-tela.svg");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
}


.logo-aapm {
    position: absolute;
    top: 10px;
    left: 10px;
}

.entre-aqui{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

.mb-3 input{
    background-color: var(--light-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
}

.mb-3 input::placeholder{
    color: white;
    padding-left: 15px;
}
.form-control{
    color:white;
}
.btn-primary {
    background-color: var(--dark-blue);
    width: 600px;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}
.form-check-label {
    color: white;
}
.form-check-input{
    background-color: var(--light-blue);
    border: none;
}
.link-offset-2{
    color: white;
}
.esqueceu-a-senha {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
}

/* TEMA DARK */

.dark-mode,
.dark-mode body {
    background-color: var(--light-blue) !important;
    background-image: url("..//fundo-tela-dark.svg");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white)!important;
}
.dark-mode .form-check-input{
    background-color: var(--dark-blue);
    border: none;
}
.dark-mode .form-check-input:checked{
    background-color: var(--blue);
    border: none;
}

.dark-mode .mb-3 input {
    background-color: var(--dark-blue) !important;
    color: var(--white) !important;
    border: 1px solid #334155 !important;
}
.dark-mode .mb-3 input::placeholder {
    color:var(--white) !important;
}
.dark-mode input.form-control {
    background-color: var(--dark-blue) !important;
    color: var(--white) !important;
}

.dark-mode .btn-primary {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}
.dark-mode .btn-primary:hover {
    background-color: var(--dark-blue) !important;
}

.dark-mode .entre-aqui {
    color: var(--white)!important;
}
.dark-mode h1,
.dark-mode h3,
.dark-mode span {
    color: var(--white)!important;
}
