body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.entre-aqui {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

.form-control {
    color: white;
}

.btn-primary {
    background-color: var(--dark-blue);
    width: 20rem;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}

.emailInput{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-box {
    position: relative;
    width: 20rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .input-box {
        width: 600px;
    }

    .btn-primary {
        width: 600px;
    }
}