body {
    min-height: 100vh;
}

.principal-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entre-aqui {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.material-symbols-outlined {
    font-size: 60px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    max-width: 600px;
}

.input-box {
    position: relative;
    width: 100%;
}

.input-box .form-control {
    width: 100%;
    color: white;
}

.btn-primary {
    background-color: var(--dark-blue);
    height: 60px;
    border-radius: 18px;
    font-size: 20px;
}
