body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.entre-aqui {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entre-aqui .material-symbols-outlined {
    font-size: 60px;
}

.btn-primary {
    background-color: var(--dark-blue);
    width: 22rem;
    height: 60px;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
}

.input-box {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem;
}

.input-box .input-codigo {
    color: white;
    width: 50px;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
    
    box-shadow: 0 10px 20px rgba(184, 195, 253, 0.582);
}

.codigoInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .input-box {
        gap: 20px;
    }

    .input-box .input-codigo {
        width: 60px;
        height: 80px;
        font-size: 24px;
    }

    .btn-primary {
        width: 30rem;
    }
}