/* ========== LAYOUT GLOBAL ========== */

body {
    background-color: var(--bg-primary);
    background-image: var(--background-light);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

body.dark-mode {
    background-image: var(--background-dark);
}

/* Logo no canto */
.logo-aapm {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo-aapm img {
    height: 4rem;
    width: 4rem;
}

/* Botão de dark/light mode */
#toggleDark {
    position: absolute;
    top: 10px;
    background: var(--white);
    border-radius: 30%;
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

/* Centralização geral */
.center-page {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}